<div>
  <section class="relative mx-auto">
    <!-- Navbar -->
    <nav class="flex justify-between text-b w-screen fixed top-0 left-0 z-50 bg-white">
      <div class="px-5 xl:px-12 py-6 flex w-full items-center">
        <!-- Logo -->
        <a href="#" class="flex items-center">
          <img src="static/img/feslogo.png" alt="Logo" class="h-9 w-auto">
          <span class="ml-3 text-2xl font-bold font-heading focus-in-expand-fwd primary ">COM FES</span>
        </a>
        
        <!-- Nav Links (Hidden on small screens) -->
        <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
          <li><a id="home-link" class="active hvr-underline-from-center cursor-pointer " onclick="showSection('home')">Home</a></li>
          <li><a id="about-link" class="hvr-underline-from-center cursor-pointer" onclick="showSection('about')">Team</a></li>
          <li><a id="contact-link" class="hvr-underline-from-center cursor-pointer" onclick="showSection('contact')">Contact</a></li>
        </ul>

        {% if 'user_id' in session %}
          <!-- Show Dashboard button if user is logged in -->
          <div class="hidden md:flex items-center space-x-3 border rounded-md px-3 py-2 hvr-underline-from-center" id="dashboard-button">
            <a href="{{ url_for('dashboard') }}" class="flex items-center space-x-2">
              <i class="ph ph-house-line text-current"></i>
              <span>Dashboard</span>
            </a>
          </div>
          
        {% else %}
          <!-- Login button -->
          <div class="hidden md:flex items-center space-x-3 border rounded-md px-3 py-2  hvr-underline-from-center mr-2" id="login-button">
            <a href="{{ url_for('login') }}" class="flex items-center space-x-2">
              <i class="ph ph-sign-in text-current"></i>
              <span>Login</span>
            </a>
          </div>
          
          <!-- Register button -->
          <div class="hidden md:flex items-center space-x-3 border rounded-md px-3 py-2 hvr-underline-from-center " id="register-button">
            <a href="{{ url_for('register') }}" class="flex items-center space-x-2">
              <i class="ph ph-house-plus text-current"></i>
              <span>Sign up</span>
            </a>
          </div>
          
        {% endif %}
      </div>

      <!-- Mobile Menu Button -->
      <a class="xl:hidden flex mr-6 items-center" href="#" id="mobile-menu-button">
        <i class="ph ph-list h-6 w-6 hover:text-gray-200"></i>
      </a>
    </nav>

    <!-- Mobile Menu (Hidden by default) -->
    <div class="hidden bg-white shadow-lg absolute right-0 top-0 z-[10000]" id="mobile-menu">
      <!-- Exit button -->
      <button onclick="toggleMobileMenu()" class="absolute top-4 right-4 p-2 text-gray-600 hover:text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    
      <!-- Menu items -->
      <ul class="px-4 pt-4 pb-4 font-semibold font-heading space-y-4 text-gray">
        <li><a class="hover:text-gray-200" href="#" onclick="showSection('house')">house</a></li>
        <li><a class="hover:text-gray-200" href="#" onclick="showSection('about')">Team</a></li>
        <li><a class="hover:text-gray-200" href="#" onclick="showSection('contact')">Contact</a></li>
      </ul>

      {% if 'user_id' in session %}
        <!-- Dashboard button on mobile view if logged in -->
        <div class="flex space-x-4 mt-4 w-full h-auto p-6">
          <a href="{{ url_for('dashboard') }}" class="flex items-center justify-center border rounded-md px-4 py-4 bg-black text-white w-full">
            <i class="ph ph-house text-current"></i>
            <span>Dashboard</span>
          </a>
        </div>
      {% else %}
        <!-- Login and Signup buttons on mobile view -->
        <div class="flex space-x-4 mt-4 w-full h-auto p-6">
          <a href="{{ url_for('login') }}" class="flex items-center justify-center border rounded-md px-4 py-4 bg-transparent text-black w-1/2">
            <i class="ph ph-sign-in text-current"></i>
            <span>Login</span>
          </a>
          <a href="{{ url_for('register') }}" class="flex items-center justify-center border rounded-md px-4 py-4 bg-black text-white w-1/2">
            <i class="ph ph-user-plus text-current"></i>
            <span>Sign up</span>
          </a>
        </div>
      {% endif %}
    </div>
  </section>
</div>
