:root {
	--bg: #ffff;
	--border: #E5F6EA;


	--primary: #004E26;
	--secondary: #FFC600;
	--positive: #32de84;
	--positive50: #32de84;
	--negative: #B30505;
	--neutral: #FDC603;
	--hover: #452beb;
 


	/*  new variables*/
	--yellow: #FFC600;
	--green: #00491E;
	--altgreen1:#02681E;
	--altgreen2:#02681E;
	--tabletext:black; 
	--white:white; 
	--gray:#898989;
	--black:black;
	
	 
}


