:root {
	--bg: #ffff;
	--border: #E5F6EA;


	--primary: #004526;
	--secondary: #FFA726;
	--positive: #32de84;
	--positive50: #32de84;
	--negative: #EF5350;
	--neutral: #FFEB3B;
	--hover: #452beb;

}

/* --primary: #2e9353;
	--secondary: #023047;
	--positive: #32de84;
	--positive50: #32de84;
	--negative: #EF5350;
	--neutral: #FFEB3B;
	--hover: #FF7043; */
