
<div>
    <section class="relative left-5">
        <!-- Navbar -->
        <nav class="flex justify-between text-b w-screen fixed top-0 left-1 right-0 bg-white shadow-md z-50 rounded-lg" style="height: 70px;">
            <div class="px-5 xl:px-12 py-6 flex w-full items-center">
                <!-- Logo -->
                <a href="#" class="flex items-center">
                    <img src="{{ url_for('static', filename='img/feslogo.png') }}" class="h-7 mr-1 w-auto ml-[15px] sm:pl-0">
                    <span class="text-2xl font-bold font-heading primary hidden sm:inline">COM FES</span>
                </a>
                
                

                <!-- Icon Section (left side) -->
                <div class="flex items-center space-x-5 ml-auto">
                    <div class="flex items-center space-x-5 ml-auto">
                        <select id="navbarsemesterDropdown" class="px-4 py-2 text-sm w-full">
                            {% for semester in all_semesters %}
                                <option value="{{ semester.ay_id }}" {% if semester.ay_id == selected_semester %} selected {% endif %}>
                                    <span class="sm:text-ellipsis sm:whitespace-nowrap sm:w-12">{{ semester.ay_name }}</span>
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            const dashboardDropdown = document.getElementById("navbarsemesterDropdown");
                            let selectedSemester = localStorage.getItem("selectedSemester");  // From localStorage
                            
                            // If there's no value in localStorage, check the URL query parameter
                            if (!selectedSemester) {
                                const urlParams = new URLSearchParams(window.location.search);
                                selectedSemester = urlParams.get('ay_id');
                            }
                    
                            // If there's a selected semester, set it in both localStorage and the dropdown
                            if (selectedSemester) {
                                dashboardDropdown.value = selectedSemester;
                                localStorage.setItem("selectedSemester", selectedSemester);  // Save it to localStorage
                            }
                    
                            // On change, update localStorage and reload the page with the selected semester
                            dashboardDropdown.addEventListener("change", function() {
                                const selectedSemester = dashboardDropdown.value;
                                localStorage.setItem("selectedSemester", selectedSemester);  // Save to localStorage
                                document.cookie = `selectedSemester=${selectedSemester}; path=/`;  // Store in cookie
                                const currentPath = window.location.pathname;  // Get the current path
                                window.location.href = `${currentPath}?ay_id=${selectedSemester}`;  // Reload with selected semester in query
                            });
                        });
                    </script>
                    
                    
                    
                    
                    
                    
                    <!-- Notification dropdown -->
                    <div class="relative hidden sm:block">
                        <input type="checkbox" id="notification-toggle" class="hidden peer" />
                        <label for="notification-toggle" class="flex items-center cursor-pointer" title="notification">
                            <i class="ph ph-bell mt-1 h-4 w-4 text-current"></i>
                            <span class="flex absolute -mt-5 ml-4">
                                <span id="notification-dot" class="animate-ping absolute inline-flex rounded-full bg-green-600 opacity-75 hidden"></span>
                                <span id="notification-dot-inner" class="relative inline-flex rounded-full h-2 w-2 bg-green-700 hidden"></span>
                            </span>
                        </label>
                    
                        <div class="absolute right-0 z-20 w-48 py-2 mt-2 origin-top-right bg-white rounded-md shadow-xl dark:bg-gray-800 opacity-0 pointer-events-none transition-opacity
                        duration-200 ease-in-out transform scale-95 peer-checked:opacity-100 peer-checked:pointer-events-auto peer-checked:scale-100">
                            <div class="block px-4 py-3 text-sm text-gray-600 dark:text-gray-300">
                                <p>
                                    <a href="{{ url_for('analys') }}" id="new-comment-count">
                                        Loading...
                                    </a>
                                </p> 
                            </div>
                        </div>
                    
                        <script>
                            // Function to fetch the new comment count and update the display
                            function fetchNewCommentCount() {
                                fetch('/new_comment_count')
                                    .then(response => response.text())
                                    .then(data => {
                                        const commentCount = parseInt(data); // Parse the count into an integer
                                        const notificationDot = document.getElementById('notification-dot');
                                        const notificationDotInner = document.getElementById('notification-dot-inner');
                                        const commentCountElement = document.getElementById('new-comment-count');
                    
                                        // Update the count in the dropdown
                                        commentCountElement.textContent = commentCount + ' new comments';
                    
                                        // Show or hide the notification dot based on the count
                                        if (commentCount > 0) {
                                            notificationDot.classList.remove('hidden');
                                            notificationDotInner.classList.remove('hidden');
                                        } else {
                                            notificationDot.classList.add('hidden');
                                            notificationDotInner.classList.add('hidden');
                                        }
                                    })
                                    .catch(error => {
                                        console.error('Error fetching new comment count:', error);
                                    });
                            }
                    
                            // Call the function to fetch the new comment count when the page loads
                            window.onload = fetchNewCommentCount;
                        </script>
                    </div>
                    

                    <div class="relative">
                        <input type="checkbox" id="profile-menu-toggle" class="hidden peer" />
                        <label for="profile-menu-toggle" class="flex items-center cursor-pointer" title="{{ username }}">
                            <i class="ph ph-user-circle text-2xl"></i> <!-- Adjust the size here -->
                        </label>
                        
                        
                        <div class="absolute right-0 z-20 w-48 py-2 mt-2 origin-top-right bg-white rounded-md shadow-xl dark:bg-gray-800 opacity-0 pointer-events-none transition-opacity duration-200 ease-in-out transform scale-95 peer-checked:opacity-100 peer-checked:pointer-events-auto peer-checked:scale-100">
                            <a class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                                Hi! &nbsp;{{ username }}</a>
                            <a href="/profile" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                                Your profile</a>
                            <a href="/FQS" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                                FAQ's</a>
                            <a href="#" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                                Settings</a>
                                <a href="{{ url_for('logout') }}" id="signOutLink" class="block px-4 py-3 text-sm text-gray-600 capitalize transition-colors duration-300 transform dark:text-gray-300 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
                                    Sign Out
                                </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile Menu Button -->
            <a class="xl:hidden flex mr-6 items-center" href="#" id="mobile-menu-button">
                <i class="ph ph-list  hover:text-gray-200"></i>
            </a>
            
        </nav>

                        <!-- Mobile Menu (Hidden by default) -->
                        <div class="hidden absolute top-16 right-6 w-48 bg-white rounded-md shadow-lg z-50" id="mobile-menu">
                            <ul class="px-4 py-4 font-semibold font-heading space-y-4 text-gray-800">
                                <li>
                                    <a class="hover:text-gray-600 transition-colors duration-200 {% if request.path == url_for('dashboard') %} active-link {% endif %}" href="{{ url_for('dashboard') }}">Dashboard</a>
                                </li>
                                <li>
                                    <a class="hover:text-gray-600 transition-colors duration-200 {% if request.path == url_for('evaluate') %} active-link {% endif %}" href="{{ url_for('evaluate') }}">Evaluate</a>
                                </li>
                                <li>
                                    <a class="hover:text-gray-600 transition-colors duration-200 {% if request.path == url_for('analys') %} active-link {% endif %}" href="{{ url_for('analys') }}">New Comments</a>
                                </li>
                
                                <li>
                                    <a class="hover:text-gray-600 transition-colors duration-200 {% if request.path == url_for('comments') %} active-link {% endif %}" href="{{ url_for('comments') }}">Comments</a>
                                </li>
                                <li>
                                    <a class="hover:text-gray-600 transition-colors duration-200 {% if request.path == url_for('faculty') %} active-link {% endif %}" href="{{ url_for('faculty') }}">Faculty</a>
                                </li>
                                <li>
                                    <a class="hover:text-gray-600 transition-colors duration-200" href="{{ url_for('logout') }}">Logout</a>
                                </li>
                            </ul>
                        </div>
                        

    </section>

