{% extends "layout/base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/variable.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
{% endblock css %}

{% block content %}
<div class="flex flex-col h-screen">
    <header>
        {% include "includes/navbar.html" %}
    </header>

    <div class="flex flex-1">
        {% include "includes/sidebar.html" %}

        <!-- Main Content Container -->
        <main class="flex-1 p-5 mx-5 mt-[100px]  ml-2 md:ml-60">


            <div id="UpdateFaculty" class="flex-1 p-4">
                <h1 class="text-2xl font-bold mb-4">Update Faculty Information</h1>
                <form action="{{ url_for('update_faculty', faculty_id=faculty.faculty_id) }}" method="POST">
                    <div class="mb-4">
                        <label for="name" class="block mb-1">Name:</label>
                        <input type="text" name="name" id="name" value="{{ faculty.name }}" class="border rounded-md px-4 py-2 w-full">
                    </div>
                    <div class="mb-4">
                        <label for="department" class="block mb-1">Department:</label>
                        <input type="text" name="department" id="department" value="{{ faculty.department }}" class="border rounded-md px-4 py-2 w-full">
                    </div>
                    <div class="mb-4">
                        <label for="college" class="block mb-1">College:</label>
                        <input type="text" name="college" id="college" value="{{ faculty.college }}" class="border rounded-md px-4 py-2 w-full">
                    </div>
                    <div class="mb-4">
                        <label for="gender" class="block mb-1">Gender:</label>
                        <input type="text" name="gender" id="gender" value="{{ faculty.gender }}" class="border rounded-md px-4 py-2 w-full">
                    </div>
                    <div class="mb-4">
                        <label for="birthdate" class="block mb-1">Birthdate:</label>
                        <input type="date" name="birthdate" id="birthdate" value="{{ faculty.birthdate }}" class="border rounded-md px-4 py-2 w-full">
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block mb-1">Email:</label>
                        <input type="email" name="email" id="email" value="{{ faculty.email }}" class="border rounded-md px-4 py-2 w-full">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="block mb-1">Password:</label>
                        <input type="password" name="password" value="{{faculty.password}}"id="password" class="border rounded-md px-4 py-2 w-full">
                    </div>
                    <div class="mb-4">
                        <label for="confpassword" class="block mb-1">Confirm Password:</label>
                        <input type="password"value="{{faculty.password}}"  name="confpassword" id="confpassword" class="border rounded-md px-4 py-2 w-full">
                    </div>
                    <button type="submit" class="setdf px-4 py-2 rounded">Update Faculty</button>
                    <a href="{{ url_for('faculty') }}" class="px-4 py-2 rounded cancel text-black">Cancel</a>
                  
                </form>
            </div>
    </div>

    {% include "includes/footer_container.html" %}
</div>
{% endblock content %}

{% block script %}
<!-- Add any custom scripts for this page here -->
{% endblock script %}
