
{% extends "layout/base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/variable.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">

{% endblock css %}

{% block content %}

<div class="flex flex-col h-screen">
    <header>
        {% include "includes/navbar.html" %}
    </header>
    
    <div class="flex flex-1">
        {% include "includes/sidebar.html" %}

     
        <main class="flex-1   mt-20  md:ml-60 md:p-4 p-2">
            
            <div id="evaluate" class="w-100 h-[100%]  bg-white rounded-lg shadow-lg  md:p-5 p-2">
                <h2 class="text-xl font-semibold text-center  mb-4">Sentiment Analysis</h2>
                
                <form method="POST" class="space-y-4">
                    <label for="comment" class="block text-sm font-medium label">Enter your comment:</label>
                    <textarea 
                        id="comment" 
                        name="comment" 
                        rows="4" 
                        class="w-full md:h-[60%] h-[40%] p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2
                         focus:ring-green-500 transition duration-150 ease-in-out" 
                        placeholder="Type your comment here..." 
                        required></textarea>
                    
                    <div class="flex justify-between">
                        <button 
                            type="submit" 
                            class="w-full font-semibold py-2 rounded-md bg-green-500 text-white hover:bg-green-600 transition">
                            Analyze Sentiment
                        </button>
                    </div>
                </form>
                
                {% if sentiment %}
                <h2 class="text-lg font-medium text-center primary mt-5">
                    Predicted Sentiment:
                    <span 
                        class="{% if sentiment == 'Positive' %}text-blue-500
                        {% elif sentiment == 'Neutral' %}text-yellow-500{% elif sentiment == 'Negative' %}text-red-500{% endif %} underline font-bold">
                        Interpreted   {{ sentiment }}
                    </span>
                </h2>
            {% endif %} 
            </div>
        </main> 
    </div>
</div>


{% endblock content %}
{% include "includes/public/footers.html" %}



























