
{% extends "layout/base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/variable.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock css %}

{% block content %}

<div class="flex flex-col h-screen">
    <header>
        {% include "includes/navbar.html" %}
    </header>
    
    <div class="flex flex-1">
        {% include "includes/sidebar.html" %}

        <!-- Main Content Container -->
        <main class="flex-1 p-5 mx-5 mt-10 ml-2 md:ml-60 " >
       
            <section class="bg-white">
                <div class="container px-2 py-12 mx-auto">
                    <div class="flex items-center justify-between">
                        <h1 class="text-2xl font-semibold primary">Frequently Asked Questions</h1>
                        <a href="{{ url_for('dashboard') }}" class="secondary hover:underline">Back</a>
                    </div>
                    
            
                    <div class="mt-8 space-y-8 lg:mt-12">
                        <!-- FAQ Item -->
                        <div x-data="{ open: false }" class="p-8 bg-gray-100 rounded-lg">
                            <button @click="open = !open" class="flex items-center justify-between w-full">
                                <h1 class="font-semibold primary">How can I pay for my appointment?</h1>
                                <span class=" bg-g  white rounded-full">
                                    <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                    </svg>
                                    <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                                    </svg>
                                </span>
                            </button>
                            <p x-show="open" class="mt-6 text-sm text-gray-700">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eaque nobis, fugit odit omnis fugiat deleniti animi ab maxime cum laboriosam recusandae facere dolorum veniam quia pariatur obcaecati illo ducimus?
                            </p>
                        </div>
                        <div x-data="{ open: false }" class="p-8 bg-gray-100 rounded-lg">
                            <button @click="open = !open" class="flex items-center justify-between w-full">
                                <h1 class="font-semibold primary">How can I pay for my appointment?</h1>
                                <span class=" bg-g  white rounded-full">
                                    <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                    </svg>
                                    <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                                    </svg>
                                </span>
                            </button>
                            <p x-show="open" class="mt-6 text-sm text-gray-700">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eaque nobis, fugit odit omnis fugiat deleniti animi ab maxime cum laboriosam recusandae facere dolorum veniam quia pariatur obcaecati illo ducimus?
                            </p>
                        </div>
                        <div x-data="{ open: false }" class="p-8 bg-gray-100 rounded-lg">
                            <button @click="open = !open" class="flex items-center justify-between w-full">
                                <h1 class="font-semibold primary">How can I pay for my appointment?</h1>
                                <span class=" bg-g  white rounded-full">
                                    <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                    </svg>
                                    <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                                    </svg>
                                </span>
                            </button>
                            <p x-show="open" class="mt-6 text-sm text-gray-700">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eaque nobis, fugit odit omnis fugiat deleniti animi ab maxime cum laboriosam recusandae facere dolorum veniam quia pariatur obcaecati illo ducimus?
                            </p>
                        </div>
                        <div x-data="{ open: false }" class="p-8 bg-gray-100 rounded-lg">
                            <button @click="open = !open" class="flex items-center justify-between w-full">
                                <h1 class="font-semibold primary">How can I pay for my appointment?</h1>
                                <span class=" bg-g  white rounded-full">
                                    <svg x-show="!open" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                    </svg>
                                    <svg x-show="open" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                                    </svg>
                                </span>
                            </button>
                            <p x-show="open" class="mt-6 text-sm text-gray-700">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas eaque nobis, fugit odit omnis fugiat deleniti animi ab maxime cum laboriosam recusandae facere dolorum veniam quia pariatur obcaecati illo ducimus?
                            </p>
                        </div>
            
                        <!-- Repeat this structure for each FAQ item -->
                    </div>
                </div>
            </section>
            

        </main>
    </div>
</div>

<!-- {% include "includes/footer_container.html" %} -->
{% endblock content %}
{% include "includes/public/footers.html" %}



























