{% extends "layout/base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/variable.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
{% endblock css %}

{% block content %}

<div class="flex flex-col h-screen">
    <header>
        {% include "includes/navbar.html" %}
    </header>

    <div class="flex flex-1">
        {% include "includes/sidebar.html" %}

        <!-- Main Content Container -->
        {% include "includes/container.html" %}

        <div id="semester" class="p-4">
            <div class="flex flex-col mb-3 gap-4">
                <h1 class="text-2xl font-bold">Set Up Default Semester</h1>
                
                <!-- Form for Default Semester Setup -->
                <div class="space-y-4">
                    <div class="flex flex-col">
                        <label for="school_year" class="text-lg font-semibold">Current School Year</label>
                        <input type="text" id="school_year" name="school_year" required 
                               class="p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300" 
                               placeholder="Enter school year (e.g., 2024-2025)"
                               value="{{ default_semester.school_year }}" readonly>
                    </div>

                    <div class="flex flex-col">
                        <label for="semester" class="text-lg font-semibold">Semester</label>
                        <input type="text" id="semester_display" name="semester_display" 
                               class="p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300" 
                               value="{% if default_semester.semester_number == 1 %}1st Semester
                               {% elif default_semester.semester_number == 2 %}2nd Semester
                               {% elif default_semester.semester_number == 3 %}Mid Year
                               {% else %}Unknown
                               {% endif %}" readonly>
                    </div>

                    <div class="flex space-x-4">
                        <a href="{{ url_for('edit_semester') }}" 
                           class="setdf mt-4 px-4 py-2 font-semibold">
                            Change Default Semester
                        </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    {% include "includes/footer_container.html" %}
</div>

{% endblock content %}
{% include "includes/public/footers.html" %}
